<div class="breadcrumb__section">
  <div class="container">
    {%  render 'breadcrumbs' %}
  </div>
</div>
{% schema %}
  {
    "name": "Breadcrumb Section",
    "class": "section-breadcrumb",
    "settings": [

      {
        "type": "header",
        "content": "Text"
      }

   
  
    ],
    "presets": [
	    {
        "name": "Breadcrumb Section",
        "settings": {}
      }
    ]
  }
{% endschema %}